<div>
<nav id="menu" class="navbar navbar-default navbar-fixed-top" >
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand page-scroll" href="#page-top">Landscaper</a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/about" class="page-scroll">About</a></li>
          <li><a routerLink="/services" class="page-scroll">Services</a></li>
          <li><a routerLink="/gallery" class="page-scroll">Gallery</a></li>
          <li><a routerLink="/testimonials" class="page-scroll">Testimonials</a></li>
          <li><a routerLink="/contact" class="page-scroll">Contact</a></li>
        </ul>
      </div>
     
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container-fluid --> 
  </nav>
  <router-outlet></router-outlet>
</div>
  <div id="footer">
      <div class="container text-center">
        <div class="col-md-8 col-md-offset-2">
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <p>&copy; 2016 Landscaper. Designed by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
        </div>
      </div>
    </div>
  



  
